mat-list-item {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: 4px solid grey;
  transition: transform 300ms ease;

  &:hover {
    transform: translateY(-3px);
  }

  transition: transform 300ms ease;

}

mat-list {
  border: 2px solid pink;
  size: auto;
  //display: flex;
}

.add-button{
  margin-bottom: 10px;
}

.row-success {
  background-color: #d4edda;
  /* Vert clair */
}

.row-failure {
  background-color: #f8d7da;
  /* Rouge clair */
}

/* .del-button {
  background-color: aquamarine;
  border: 4px solid black;
} */

/* app-delete-button {
  background-color: aquamarine;
  border: 4px solid black;
} */
