




<!-- <mat-card> -->

<!--   <div
      class="inner-card"
      cdkDrag
      *ngFor="let  of board.tasks; let i = index"
      (click)="openDialog(task,i)"
    >
  <mat-card-content *ngIf="userM">
    BP: {{userM[0].tracker.BenchPress}}
  </mat-card-content>
</mat-card> -->


<mat-card-content class="track-cont" *ngIf="userM && userM[0].tracker">
 <!--  <mat-list> -->
    <mat-icon mat-list-icon>fitness_center</mat-icon>
    <mat-list-item *ngFor="let item of userM[0].tracker | keyvalue">
      <div mat-line>{{ item.key }}: {{ item.value }}</div>
    </mat-list-item>
<!--     <mat-icon mat-list-icon>fitness_center</mat-icon>
    <mat-list-item *ngFor="let item of userM[0].tracker | keyvalue">
       <mat-icon mat-list-icon>fitness_center</mat-icon> -->
   <!--   <div mat-line>{{ item.key }}</div>
      <div mat-line class="secondary">Valeur: {{ item.value }}</div> -->
 <!--  </mat-list> -->
</mat-card-content>
