
  <div class="small-tracker">

    <button mat-stroked-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>


    <app-delete-button (delete)="handleDeleteTraining()"> Delete Training </app-delete-button>
    <div class="secondary-card"  *ngFor="let exercice of training?.exercices;let i = index">


      <div class = "buttons2">
        <button mat-stroked-button id ="start-button" (click)="isStarted[i] ? myTimer.resume():isStart(i)">Démarrer</button>
        <button mat-stroked-button id="reset-button" (click)="myTimer.reset()">Réinitialiser</button>
      </div>

      <div *ngIf = "isStarted[i]" class = "stop-buttons" >
        <button  mat-stroked-button  id="stop-button" (click)="myTimer.stop()">Arrêter</button>
      </div>

      <cd-timer
        [autoStart]="false"
        [countdown]="true"
        [startTime]="60"
        #myTimer
        (start)="onStart()"
        (stop)="onStop()"
        (reset)="onReset()"
        format="ms"
        >
        Timer

      </cd-timer>

      <div class ="secondary-card-items"  appearance="outlined">
        <div class="user-content"> Name: {{exercice.name}}</div>
        <mat-checkbox class="exercice-checkbox" [(ngModel)]="isChecked[i]" (click)="isChecked">Done</mat-checkbox>
      </div>

      <div class ="secondary-card-items" appearance="outlined">
        <div class="user-content"> Reps: {{exercice.reps}} </div>
      </div>

      <div class ="secondary-card-items" appearance="outlined">
        <div class="user-content"> Weight: {{exercice.weight}}</div>
      </div>


      <div class = "buttons">

        <app-delete-button (delete)="handleDelete(exercice)">
        </app-delete-button>

        <button class = "modify" mat-stroked-button (click)="openDialogExercice(exercice,i)">
          Modify
        </button>

      </div>


    </div>

    <div *ngIf="allChecked" class="completion-message">Félicitations ! Tous les exercices ont été complétés.</div>

  </div>
