



<!-- <mat-grid-list cols="2" line ="1" rowHeight="1:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list> -->


<!-- <app-training *ngFor="let training of trainings" [training] ="training"> -->


<!-- </app-training>
 -->



<!-- <mat-tab-group>
  <mat-tab label="My sessions">
    <app-training *ngFor="let training of trainings" [training] ="training">


     </app-training>
  </mat-tab>
  <mat-tab label="Followed Session"> Content 2 </mat-tab>
  <mat-tab label="Create Session"> Content 3 </mat-tab>
</mat-tab-group> -->
<mat-tab-group>
  <mat-tab label="My sessions">
      <mat-list-item *ngFor="let training of trainings" [routerLink]="training.route_id" role="list">
        {{training.name}}
      </mat-list-item>
  </mat-tab>
  <mat-tab label="Followed Session"> Content 2 </mat-tab>

  <mat-tab label="Create Session">
    <button mat-stroked-button (click)="openDialog()">

      <h4>Create your own training</h4>

      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>
</mat-tab-group>
