.content {
  overflow: auto;
  height: auto;
  padding: 20px;
  width: 100%;
}
.toggle{

}

.fields{
  display:flex;
  flex-direction: column;
  //margin-top:1vw;
}
.first{
  size: auto;
}
.perf_sucess{
  margin-right:1vw;
  /* border: 2px solid red; */
}
.perf_sucess > h4{
  margin-right:0px;
}
.sucess{
  background-color: lightgreen;
}
.failure{
  background-color: lightcoral;
}
